
/* --------------------------------------
   Layout
   -------------------------------------- */
#features {
   text-align: center;
   margin-top: 20px;
}

#features img {
   margin: 0 0 20px;
}

#inputMessage {
   margin-bottom: 15px;
}

.wrapBody {
    margin-top: 70px;
}

#categoryBooks {
    text-align: center;
    margin-top: 10px;
}

#categoryBooks img {
    margin: 0 15px;
}
#categoryBooks, #categoryPanel {
    border: none;
    box-shadow: none;
}
/*#categoryBooks h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}*/

/* for fix footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 190px;
}

footer {
   background: #333;
   color: #eee;
   font-size: 11px;
   padding: 20px;

    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 170px;
}


/* --------------------------------------
   Typography
   -------------------------------------- */

.media img{
   margin: 0 20px 10px 0;
}

/* --------------------------------------
   Navbar
   -------------------------------------- */
.navbar-form {
    margin-left: 5px;
}

#searchInput {
   width: 200px;
} 

.navbar-brand {
   padding: 13px 15px;
}

.dropdown-menu a#logout span {
   padding-right: 10px;
}

/* --------------------------------------
   Carousel
   -------------------------------------- */

/*#bigCarousel {
    margin-top: 20px;
}*/

#bigCarousel .item {
   height: 290px;
}

#bigCarousel ol li {
   background: #333;
}

.carousel-caption {
   font-size: 24px;
}

.carousel-caption h4 {
   font-size: 32px;
}

#slide1 {
      background: url('../../images/carousel/image1_medium.jpg') top center no-repeat;
   }

#slide2 {
      background: url('../../images/carousel/image2_medium.jpg') top center no-repeat;
   }

#slide3 {
      background: url('../../images/carousel/image3_medium.jpg') top center no-repeat;
   }

/* -----------------
   small Carousel
   -----------------
*/

#sm-carousel {
   margin-top: 10px;
}

#wrap-sm-carousel {
   background: #eee;
   padding: 10px 0;
   border-radius: 5px;
  
}

#wrap-sm-carousel .col-2 a {
   display: inline-block;
}

#wrap-sm-carousel .col-2  {
   text-align: center;
}

#sm-carousel img {
   height: 150px;
   width: 100px;

}

/* --------------------------------------
   Global Styles
   -------------------------------------- */

.tabbable img.thumbnail {
   margin: 0 20px 10px 0;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	#sm-carousel {
      display: none;
   }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
#bigCarousel .item {
   height: 180px;
}

#slide1 {
      background: url('../../images/carousel/image1_small.jpg') top center no-repeat;
   }

#slide2 {
      background: url('../../images/carousel/image2_small.jpg') top center no-repeat;
   }

#slide3 {
      background: url('../../images/carousel/image3_small.jpg') top center no-repeat;
   }

.carousel-caption {
      font-size: 16px;
   }

.carousel-caption h4 {
      font-size: 22px;
   }

}

/* Large desktop */
@media (min-width: 1200px) {

#bigCarousel .item {
   height: 365px;
}

#slide1 {
      background: url('../../images/carousel/image1_lg.jpg') top center no-repeat;
   }

#slide2 {
      background: url('../../images/carousel/image2_lg.jpg') top center no-repeat;
   }

#slide3 {
      background: url('../../images/carousel/image3_lg.jpg') top center no-repeat;
   }
}